@model Library.ViewModels.UserProfileVM
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div>
        <h3><font color="red">@Html.ValidationSummary(true)</font></h3>
        <div>
            @Html.LabelFor(m => m.Username, new { @class = "LabelFormat" })
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control TextboxFormat" })
            <font color="red">@Html.ValidationMessageFor(m => m.Username) </font>
        </div>
        <div>
            @Html.LabelFor(m => m.Password, new { @class = "LabelFormat" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control TextboxFormat" })
            <font color="red"> @Html.ValidationMessageFor(m => m.Password)</font>
        </div>
        <input type="submit" value="Submit" />
    </div>
}